# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.cursor

# env
.env
.env*.local

# debug
npm-debug.log*

# typescript
next-env.d.ts
*.tsbuildinfo
.vercel
